Repository tajjjjr/social-network, pull requests merged in 2025-08, with the labels that each got.

#241 Infinite Scroll Implementation for Social Network Posts #240
  .kiro/specs/like-feature/design.md
  .kiro/specs/like-feature/requirements.md
  .kiro/specs/like-feature/tasks.md
  PR_MESSAGE.md
  README.md
  backend/internal/api/handlers/post_handler.go
  backend/internal/api/handlers/tests/post_handler_test.go
  backend/internal/api/handlers/tests/post_pagination_test.go
  backend/internal/service/interfaces.go
  backend/internal/service/post_service.go
  backend/internal/service/post_service_pagination_test.go
  backend/internal/service/post_service_test.go
  backend/internal/store/interfaces.go
  backend/internal/store/post_store.go
  backend/pkg/db/migrations/sqlite/000021_add_posts_pagination_indexes.down.sql
  backend/pkg/db/migrations/sqlite/000021_add_posts_pagination_indexes.up.sql
  backend/pkg/utils/types.go
  frontend/components/common/LoadingSpinner.jsx
  frontend/components/posts/EndOfPosts.jsx
  frontend/components/posts/PostList.jsx
  frontend/components/posts/PostSkeleton.jsx
  frontend/hooks/useInfiniteScroll.js
  frontend/lib/auth.js
  post-comment.md
Labels: help wanted, frontend, backend

#244 fix: resolve migration error and hydration mismatch caused by client/server date formatting
  backend/pkg/db/migrations/sqlite/000022_add_reaction_count_triggers.down.sql
  backend/pkg/db/migrations/sqlite/000022_add_reaction_count_triggers.up.sql
  frontend/components/chat/ChatInterface.jsx
  frontend/components/common/ClientDate.jsx
  frontend/components/layout/Header.jsx
  frontend/components/posts/CommentList.jsx
  frontend/components/posts/PostList.jsx
Labels: help wanted, frontend

#249 247 Implement Animated Post Skeleton Loading
  frontend/components/common/SkeletonErrorBoundary.jsx
  frontend/components/posts/PostList.jsx
  frontend/components/posts/PostSkeleton.jsx
  frontend/lib/safeSkeletonUtils.js
  frontend/lib/skeletonHealthCheck.js
  frontend/lib/skeletonUtils.js
  frontend/src/app/globals.css
Labels: help wanted, frontend, backend

#254 Refactor: Centralize Post And Comment Frontend API Layer #247
  frontend/components/layout/Feed.jsx
  frontend/components/posts/CommentList.jsx
  frontend/components/posts/PostList.jsx
  frontend/lib/api.js
  frontend/lib/auth.js
Labels: help wanted, frontend, backend

#258 154 develop group chat frontend
  frontend/components/chat/ChatInterface.jsx
  frontend/components/chat/ChatSwitcher.jsx
  frontend/components/chat/UserListModal.jsx
  frontend/components/homepage/MainHomepage.jsx
  frontend/components/layout/Header.jsx
  frontend/lib/api.js
  frontend/next.config.mjs
  frontend/src/app/chats/[userId]/page.js
  frontend/src/app/chats/page.js
Labels: frontend
