Repository tajjjjr/social-network, pull requests merged in 2025-07, with the labels that each got.

#66 53 write documentation for database migration
  backend/internal/api/authentication/github _auth.go
  backend/internal/api/authentication/signin.go
  backend/pkg/db/sqlite/migration_check.go
  backend/pkg/db/sqlite/sqlite.go
  backend/pkg/utils/password.go
  backend/social_network.db
  backend/www/controllers/index.go
  docs/database_migration.md
Labels: documentation, enhancement

#205 Feature/posts/127 implement comment creation backend
  backend/internal/api/handlers/post_handler.go
  backend/internal/api/handlers/tests/post_handler_test.go
  backend/internal/api/router.go
  backend/internal/models/comment.go
  backend/internal/service/interfaces.go
  backend/internal/service/post_service.go
  backend/internal/store/post_store.go
  post-comment.md
Labels: help wanted, backend

#208 feat: Implement Post and Comment Retrieval & Post Deletion Backend#196 #128
  backend/internal/api/handlers/post_handler.go
  backend/internal/api/handlers/tests/post_handler_test.go
  backend/internal/api/router.go
  backend/internal/models/comment.go
  backend/internal/models/post.go
  backend/internal/service/interfaces.go
  backend/internal/service/post_service.go
  backend/internal/service/post_service_test.go
  backend/internal/store/interfaces.go
  backend/internal/store/post_store.go
Labels: help wanted, backend

#220 Feature/comments/130 develop comment creation frontend
  backend/internal/api/handlers/attachment_handler.go
  backend/internal/store/post_store.go
  frontend/components/layout/Feed.jsx
  frontend/components/posts/CommentForm.jsx
  frontend/components/posts/CommentList.jsx
  frontend/components/posts/PostList.jsx
  frontend/lib/auth.js
Labels: help wanted, backend

#221 fix: implement proper text wrapping and max-width constraints
  backend/internal/api/handlers/post_handler.go
  frontend/components/layout/Feed.jsx
  frontend/components/posts/CommentForm.jsx
  frontend/components/posts/CommentList.jsx
  frontend/components/posts/PostCreation.jsx
  frontend/components/posts/PostList.jsx
  frontend/src/app/globals.css
  post-comment.md
Labels: help wanted, frontend
